/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and overall layout */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #333;
}

h1 {
    font-family: 'Jacquard 12', serif;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

#t-sub-heading {
    font-size: 1.5rem;
    display: block;
    color: #0bf422;
}

#game-main-box {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin-bottom: 1rem;
}


.box {
    width: 100px;
    height: 100px;
    background-color: #0564df;
    border: 2px solid #ddd;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.box:hover {
    background-color: #f40606;
}

.box:focus {
    outline: none;
}

#winner-message,
#draw-message {
    font-size: 1.25rem;
    font-family: 'Arimo', sans-serif;
    margin-bottom: 1rem;
    color: #d9534f; /* Red for winner message */
}

#draw-message {
    color: #f54a06; /* Blue for draw message */
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    background-color: #090b02;
    color: rgb(245, 234, 234);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: 'Arimo', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #9ff403;
}

button:focus {
    outline: none;
}
